* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #e2e4e6;
    color: #4d4d4d;
}

a {
    color:
}

.wrapper {
    max-width: 1024px;
    min-width: 320px;
    margin: auto;
}

input, select, .btn, .input-content {
    padding: .5em;
    margin-bottom: .5em;
    border: 1px solid #ccc;
    clear: both;
    width: 100%;
    display: block;
    font-size: 1em;
}

.input-content {
    height: 12em;
}

select {
    height: 3em;
}

.btn {
    text-align: center;
}



.list-inline {
    padding: 0;
    margin:0;
    list-style: none;
}

.list-inline li {
    display: inline-block;
}

.menu-item {
    padding: .4em;
    display: inline-block;
    text-decoration: none;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
  color: #999;
}

/*
    Helper classes
*/
body .bg-dark {
    background: #333;
}

body .tc {
    text-align: center;
}

body .fr {
    float: right;
}

body .fl {
    float: left;
}
