* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

.wrapper {
    max-width: 1024px;
    min-width: 320px;
    margin: auto;
}

input, select, .btn, .input-content {
    border: 1px solid gray;
    padding: .8em;
    clear: both;
    width: 100%;
    display: block;
    font-size: 1em;
    margin-bottom: .6em;
}

.input-content {
    height: 12em;
}

select {
    height: 3em;
}

.btn {
    text-align: center;
}

.tc {
    text-align: center;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
}
